<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>620767171579-ec91hkq2pe9o2t6u9445lvvm70vksrko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.620767171579-ec91hkq2pe9o2t6u9445lvvm70vksrko</string>
	<key>API_KEY</key>
	<string>AIzaSyAmdo0ZAURWIHUIMOefEydtGWsUaIHME5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>620767171579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>LarissaLanes.collection</string>
	<key>PROJECT_ID</key>
	<string>globocollection</string>
	<key>STORAGE_BUCKET</key>
	<string>globocollection.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620767171579:ios:e5db3055a966ded181f15e</string>
</dict>
</plist>